/******** COLOR PALETTE ***********/
/******** BREAKPOINTS ***********/
/** use like this:

#className {
    background: white;
    border-bottom:1px solid #eee;
    height: 90px;
    padding: 0 20px;

    @include for_breakpoint(mobile desktop) {
        height:70px;
        position:fixed;
        width:100%;
        top:0;
    }
}

**/
/******** FONTS  ***********/
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/****** ACTUAL CSS BEGINS ****/
:root {
  font-size: 16px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: #1e1e22;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  position: relative;
}

.entire-page {
  width: 100vw;
}

/**** TEXT ****/
a {
  text-decoration: none;
  color: #717178;
}

a:hover {
  color: #c07f50;
  text-decoration: none;
}

/*** HEADERS ***/
h1 {
  margin: 0;
  font-size: 2.25rem;
}

/**** SIDEBAR ****/
aside {
  position: fixed;
  min-width: 20vw;
  height: 100vh;
  background-color: #fff;
}

.page-sideBar {
  box-shadow: 12px 0 15px -4px RGBA(113, 113, 120, 0.05);
  padding: 50px 0;
}
.page-sideBar ul {
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  padding: 60px 0;
}
.page-sideBar ul li {
  padding: 10px 0;
}

.side-nav {
  margin: 0 auto;
}

.side-pic {
  width: 145px;
  height: 145px;
  background-color: red;
  border-radius: 80px;
  background-image: url("../Images/pic1.jpg");
  border: solid 8px #f8f2ed;
  background-size: 280% auto;
  background-position: -110px -220px;
}

/**** SECTIONS ****/
.main-page {
  float: right;
  width: 80vw;
}

.section-pad {
  padding: 90px 0;
}

.container {
  padding: 0 4vw;
  width: 100%;
}

/**** HOME SECTION  ****/
#home {
  background-color: #efefef;
  background-image: url("../Images/homePic.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.about-img {
  background-color: #717178;
  border: solid 10px #f8f2ed;
}

/**** ABOUT SECTION  ****/
#about {
  background-color: #fff;
  justify-content: center;
}

.about-img {
  background-color: #717178;
  width: 375px;
  height: 450px;
  margin-right: 5%;
  margin-left: 5%;
  background-image: url("../Images/pic3.jpg");
  background-size: 140% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.about-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.about-list li {
  padding-right: 60px;
}

.about-detail {
  padding: 10px 0;
}
.about-detail svg {
  font-size: 2.5rem;
  padding: 10px;
}
.about-detail img {
  padding: 10px;
  vertical-align: -0.125em;
}

.button {
  padding: 15px 20px;
  background-color: #c07f50;
  border: none;
  color: #fff;
  letter-spacing: 1px;
}

/**** WORKS SECTION  ****/
#works {
  background-color: #f8f2ed;
  width: 100%;
}

.project-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project {
  width: 375px;
  margin: 20px 0;
  height: 375px;
  border: solid 1px #c07f50;
}

.overlay {
  width: 100%;
  display: none;
  height: 100%;
  background: rgba(192, 127, 80, 0.5);
  overflow: hidden;
  z-index: 2;
}

#store {
  background-image: url("../Images/store.jpg");
  background-size: cover;
}

#sunny {
  background-image: url("../Images/countries.jpg");
  background-size: cover;
}

#countries {
  background-image: url("../Images/portfolio.jpg");
  background-size: cover;
}

#portfolio {
  background-image: url("../Images/sunny.jpg");
  background-size: cover;
}

/**** CONTACT SECTION  ****/
#contact {
  background-color: transparent;
  height: 100vh;
}

.contact-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.contact-list li {
  padding-right: 20px;
  font-size: 2rem;
}

form #subject {
  width: 100%;
}
form input[type=text],
form input[type=email] {
  border: none;
  border-bottom: solid 1px #c07f50;
  width: 100%;
}
form textarea {
  resize: none;
  border: none;
  border-bottom: solid 1px #c07f50;
  width: 100%;
}
form textarea:focus,
form input:focus {
  outline: none;
}

/**** FOOTER ****/
.footer {
  background-color: #c07f50;
  color: #fff;
  height: 80px;
  position: relative;
  bottom: 0;
}
.footer p {
  padding: 30px 0;
}

/*# sourceMappingURL=App.css.map */
